body {
	background-color: #FAFAFA;
}

.slide-title-wrapper {
	margin-bottom: 50px;
	@include breakpoint(medium) {
		margin-bottom: 75px;
	}
	.title {
		margin: 35px 0 15px 0;
		@include playfair-font;
		font-weight: 700;
		letter-spacing: 0.06em;
		color: $black;
		text-transform: uppercase;
		font-size: 21px;
		@include breakpoint(medium) {
			font-size: 46px;
			margin: 35px 0;
		}
	}
	p {
		color: $black;
		@include avenirlt-font;
		font-weight: 300;
		font-size: 14px;
		width: 70%;
		margin: 0 auto;
		line-height: 1.6em;
		@include breakpoint(medium) {
			font-size: 15px;
			@include xy-cell(12);
			font-weight: 400;
			line-height: normal;
		}
	}
}// .wrapper

.app-dashboard-sidebar {
	display: none;
}

.space-box {
	border: 1px solid rgba(186, 184, 184, 0.28);
	margin-bottom: 15px;

	.image-wrapper {
		position: relative;
		max-height: 325px;
		overflow-y: hidden;
	}
	.content {
		@include breakpoint(small only) {
			width: 100%;
			.title {
				margin-top: 20px;
			}
		}
		.title {
			@include playfair-font;
			text-transform: capitalize;
			font-size: 18px;
			padding-bottom: 10px;
			@include breakpoint(medium) {
				font-size: 22px;
			}
		}
		.rate {
			span {
				font-weight: 600;
				@include avenirlt-font;
				font-size: 16px;
			}
		}// .rate
		.button {
			margin-top: 15px;
			text-transform: capitalize;
			&.primary {
				@include breakpoint(small only) {
					width: 100%;
				}
			}
		}
	}// .content

	.space-box-hover {
		background-color: #fff;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		@include flex();
		@include flex-align(center, middle);
		display: none;
		p {
			@include avenirlt-font;
			font-weight: 600;
			line-height: 24px;
			color: rgb(33, 33, 33);
			font-size: 16px;
			@include xy-cell(9);
			a {
				color: $black;
				text-decoration: underline;
				text-transform: capitalize;
				font-weight: 700;
			}
		}
	}// .space-box-hover
}// .space-box