@font-face {
    font-family: 'Tahoma lt';
    src: url("../fonts/TahomaRegular.ttf") format('truetype');
}

@mixin tahoma-font {
	font-family: 'Tahoma lt';
}

@mixin raleway-font {
	font-family: 'Raleway', sans-serif;
}


p, a, span, h1, h2, h3, h4, h5, h6 {
	@include tahoma-font;
}

input::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  color: rgb(47, 46, 46);
  font-weight: 300;
}
input::-moz-placeholder {
  font-family: 'Raleway', sans-serif;
  color: rgb(47, 46, 46);
  font-weight: 300;
}
input:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  color: rgb(47, 46, 46);
  font-weight: 300;
}
input:-moz-placeholder {
  font-family: 'Raleway', sans-serif;
  color: rgb(47, 46, 46);
  font-weight: 300;
}