.about, .contact {
	@include breakpoint(small only) {
		.form-container {
			@include flex-order(0);
		}
		.text {
			@include flex-order(1);
		}
	}
	.title {
		h2 {
			@include raleway-font;
			font-weight: 700;
			margin: 30px 0;
			font-size: 30px;
			@include breakpoint(medium) {
				font-size: 40px;
				margin: 55px 0;
			}
		}
	}
	p {
		@include raleway-font;
		font-size: 15px;
		line-height: 1.5em;
		color: #000;
		margin-bottom: 25px;
		line-height: 1.5em;
		&.question {
			font-size: 18px;
			line-height: 21px;
			letter-spacing: 0.1em;
		}
	}
	.text {
		@include breakpoint(medium) {
			padding-right: 40px;
		}
	}
	.contact-info {
		.num {
			margin-bottom: 0;
		}
	}
}// .about

.contact-form {
	input, textarea {
		margin: 0;
		margin-bottom: 6px;
		@include raleway-font;
		font-size: 15px;

		&[type="submit"] {
			background-color: rgb(64, 83, 87);
			color: #fff;
			font-size: 15px;
			float: right;
			padding: 10px 45px;
			@include breakpoint(medium) {
				margin-bottom: 75px;
			}
		}

		&:hover, &:focus {
			background-color: rgba(186, 210, 214, 0.4);
			border: 1px solid rgba(47, 47, 47, 0.55);
		}
	}// input, textarea
	textarea {
		max-height: 126px;
		resize: none;
	}
}