.book-your-space {
	background-color: #FAFAFA;
	.title {
		@include playfair-font;
		font-size: 26px;
		line-height: 39px;
		font-weight: 400;
		padding-bottom: 37px;
		text-transform: uppercase;
		margin-top: 75px;
		@include breakpoint(medium) {
			margin-top: 90px;
		}
	}
	.spaces-wrapper {
		margin-bottom: 40px;
		.space-box {
			&:hover {
				.space-box-hover {
					@include flex();
				}
			}
		}
	}
}// .book-your-space