.book-your-space {
	background-color: #FAFAFA;
	.title {
		@include playfair-font;
		font-size: 26px;
		line-height: 39px;
		font-weight: 400;
		padding-bottom: 37px;
		text-transform: uppercase;
		@include breakpoint(medium) {
			// margin-top: 90px;
		}
	}
}// .book-your-space