.category-container {
	padding-top: 20px;
	@include breakpoint(medium) {
		padding-top: 55px;
	}
	.selectors-wrapper {
		@include xy-cell(12);
		margin: 0;
	}
	.filter-container {
		.title {
			@include xy-cell(12);
			h2 {
				text-transform: capitalize;
				font-size: 30px;
				font-weight: 700;
				margin-bottom: 30px;
				display: block;
				@include breakpoint(medium) {
					font-size: 40px;
					margin-bottom: 50px;
				}
			}
		}// .title
		.slider-selector {
			border-bottom: 1px solid rgb(156, 156, 156);
			padding-bottom: 40px;
			// @include xy-cell(12);
			width: 100%;
			margin: 0;
			h3 {
				border-bottom: 1px solid rgb(156, 156, 156);
				padding-bottom: 18px;
				font-size: 26px;
				@include raleway-font;
				font-weight: 300;
			}
			.left {
				float: left;
			}
			.right {
				float: right;
			}
			p {
				span {
					color: #2F2F2F;
				}
			}
			.slider.cell {
				margin-top: 10px;
				.values {
					padding-top: 15px;
				}
			}
		}// .slider-selector
		.slider-handle {
			border-radius: 10px;
			width: 10px;
			height: 10px;
			color: $black;
			background-color: $black;
		}
		.slider-fill, .slider {
			height: 2px;
		}
		.slider-fill {
			background-color: $black;
		}
		.slider.cell {
			margin: 25px 0 10px 0;
		}
		.color-selector {
			// @include xy-cell(12);
			width: 100%;
			margin: 0;
			margin-top: 20px;
			border-bottom: 1px solid rgb(156, 156, 156);
			padding-bottom: 20px;
			margin-bottom: 20px;
			h4 {
				clear: both;
				overflow: hidden;
				margin-bottom: 0;
				.left {
					float: left;
				}
				.right {
					float: right;
				}
			}// h4
			.color-grid {
				.button {
					width: 16px;
					height: 16px;
					border-radius: 16px;
					padding: 0;

					&:hover {
						border: 1px solid #c9c9c9;
					}
				}
			}
		}// // color-selector

		.toggle {
			clear: both;
			height: auto;
			overflow: hidden;
			margin-top: 25px;
			margin-bottom: 5px;
			cursor: pointer;
			h4 {
				font-size: 15px;
				span {
					@include raleway-font;
					color: #000;
					&.right {
						font-size: 30px;
						position: relative;
						bottom: 10px;
					}
				}
			}
		}// .toggle
	}// .filter-container
	.catalog {
		.sort-selector {
			select {
				max-width: 200px;
			}
			@include breakpoint(medium) {
				margin-top: 93px;
			}
		}
	}
}// .category-container