.float-box {
	padding: 15px 30px !important;
	@include grid-column(12);
	@include breakpoint(medium) {
		@include grid-column(4);
		min-height: 285px;
		max-height: 285px;
		&:last-child {
			float: left !important;
		}
	}
	&.secondary {
		background-color: $secondaryCustomColor;
	}
	&.primary {
		background-color: $primary-color;
	}
	h4 {
		text-transform: uppercase;
		color: #fff;
		line-height: 40px;
		font-size: 40px;
		font-weight: 600;
	}
	p {
		color: #fff;
		line-height: 1.6em;
		margin: 0;
		font-size: 16px;
		&:last-child {
			margin-bottom: 70px;
		}
	}
	.link {
		color: #40BABC;
		text-transform: uppercase;
		display: block;
		margin-top: 15px;
	}
}

.text-content {
	h2{
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.05em;
		line-height: 1.1em;
		font-size: 32px;
		color: rgb(85, 74, 88);
		margin-bottom: 35px;
	}
	p {
		font-size: 15px;
		color: $paragraph-color;
	}
}
.purple-title {
	background-color: $primary-color;
	h2 {
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		font-weight: 600;
		padding: 8px 0;
	}
}