#footer {
	background-color: #BC9B5D;
	padding-top: 42px;

	@include breakpoint(small only) {
		.box {
			padding: 0 28px;
			p {
				font-size: 14px;
			}
		}
	}

	.box {
		p {
			color: #fff;
			font-size: 13px;
			font-weight: 300;
			line-height: 21px;
			overflow-wrap: break-word;
			span {
				color: inherit;
			}
		}
		input {
			color: #fff;
			font-size: 15px;
			line-height: 21px;
			justify-content: space-between;
			outline: none;
			border: 0;
			&[type="email"] {
				background-color: #C6AA75;
				padding: 8px;
			}
			&[type="submit"] {
				background-color: #fff;
				color: #2F2E2E;
				width: 100%;
				padding: 9px;
			}
		}
	}
	.social-links {
		a {
			color: #fff;
			outline: none;
			font-size: 18px;
		}
		@include breakpoint(small only) {
			display: block;
			text-align: center;
			a{
				font-size: 22px;
				display: inline-block;
				margin: 0 6px;
			}
		}
	}
	.subscribe {
		input {
			&::-moz-placeholder {
				color: #fff;
			}
			&::-webkit-input-placeholder {
				color: #fff;
			}
			&[type="submit"] {
				color: #2F2E2E;
				font-weight: 300;
			}
		}
	}
}