.hero {
	height: 650px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 0 0;
	img {
		display: none;
		width: 100%;
	}

	@include breakpoint(small only) {
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
		background-attachment: initial !important;
		height: 300px;

		img {
			display: block;
		}
	}
}

.reservations-home {
	background-size: cover;
	opacity: 0.8;
}