.product-view {
	@include breakpoint(small only) {
		padding: 0 20px;
	}
	p {
		@include raleway-font;
	}
	.main {
		@include flex();
		@include flex-align(null, stretch);
		min-width: 100%;
		min-height: 258px;
		margin-bottom: 20px;
		img {
			max-width: 100%;
		}
		@include breakpoint(medium) {
			min-height: 498px;
			min-width: 498px;
		}
	}
	.gallery {
		margin: 20px 0 30px 0;
		@include breakpoint(small only) {
			display: none;
		}
		li {
			display: inline-block;
			max-width: 45px;
			max-height: 45px;
		}
	}
	.description {
		p {
			@include raleway-font;
			color: #2f2f2f;
			font-size: 15px;
			line-height: 22px;
		}
	}
	.product-name, .section.header {
		text-transform: capitalize;
		@include raleway-font;
	}
	.product-name {
		font-size: 24px;
		color: rgb(87, 87, 87);
		font-weight: 700;
		line-height: 30px;
		margin-bottom: 5px;
	}
	.product-code {
		@include raleway-font;
		font-size: 13px;
		line-height: 1.4em;
		color: rgb(47, 47, 47);
		margin-bottom: 20px;
	}
	.product-options {
		margin-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid  rgb(156, 156, 156);
		label {
			@include raleway-font;
			color: rgb(47, 47, 47);
			font-size: 15px;
			line-height: 21px;
			display: block;
			cursor: pointer;
			margin: 0;
		}
		label.color {
			position: relative;
			&:after {
				content: "";
				display: block;
				width: 20px;
				height: 20px;
				border-radius: 20px;
				background-color: #14145D;
			}
		}
		label.quantity {
			margin-top: 30px;
			margin-bottom: 8px;
		}
		#quantity {
			max-width: 82px;
		}
		.options {
			display: none;
		}
		input[type="submit"] {
			display: block;
			text-align: center;
			width: 100%;
			color: #fff;
			@include raleway-font;
			padding: 12px;
			font-size: 15px;
		}
	}// .product-options
	.product-info, .policies {
		border-bottom: 1px solid rgb(156, 156, 156);
		padding-bottom: 30px;
	}
	.header {
		text-transform: uppercase !important;
		@include flex();
		@include flex-align(justify);
		margin-bottom: 25px;
		margin-top: 35px;
		cursor: pointer;
		span {
			@include raleway-font;
			font-size: 17px;
			font-weight: 400;
			color: #000;
			&.right {
				font-size: 30px;
				position: relative;
				bottom: 5px;
				font-weight: 300;
			}
		}
	}// .header
	.text {
		@include raleway-font;
		font-size: 13px;
		line-height: 1.5em;
		color: rgb(47, 47, 47);
	}
	.social {
		margin-bottom: 45px;
		@include breakpoint(medium) {
			margin-bottom: 70px;
		}
	}
}// .product-view
.product-navigation {
	margin: 30px 0 10px 0;
	@include breakpoint(medium) {
		margin: 50px 0;
	}
	.breadcrumbs {
		a {
			padding: 0 0 0 25px;
			position: relative;
			@include breakpoint(small only) {
				&::after {
					content: "<";
					position: absolute;
					left: 0;
				}
			}
		}// a
	}// .breadcrumbs
	.pagination {
		li {
			a {
				padding: 0;
				@include raleway-font;
				font-size: 15px;
			}
		}
		.next {
			border-left: 1px solid  #2f2f2f;
			padding-left: 5px;
		}
	}// .pagination
}// .product-navigation