.nav-container {
	position: relative;
	@include breakpoint(medium) {
		height: 104px;
	}
}
#main-menu {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	.menu {
		li {
			a {
				text-transform: uppercase;
				color: #fff;
				font-size: 15px;
				display: block;
				&:hover {
					color: $link-hover-color;
				}
			}
			&.active {
				a {
					color: $link-hover-color;
				}
			}
		}

	}// .menu
}
a.active {
	color: $link-hover-color;
}
.menu.vertical {
	width: 80%;
	margin: 0 auto;
	margin-top: 20vh;
	text-align: center;
	li {
		a {
			background-color: transparent;
			color: #fff;
			text-transform: uppercase;
			display: block;
			border-bottom: 1px solid #fff;
		}
		&.active {
			a {
				color: #827984;
			}
		}
		&:last-child {
			a {
				border-bottom: 0;
			}
		}
	}// li
}
.reveal {
	background-color: $secondaryCustomColor;
}