<div class="wrapper">
	<h2 class="title text-center">our community</h2>
	<p class="text text-center">I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
</div>

<div class="carousel">
	<div class="cycle-slideshow"
	    data-cycle-fx=carousel
	    data-cycle-timeout=1900
	    data-cycle-carousel-visible=3
	    data-cycle-carousel-fluid=true
	    >
	    {{#each imagesForSlide}}
	    	<img src="assets/img/{{this}}" alt="image">
	    {{/each}}
	</div>
</div>