<div class="slide-title-wrapper">
	<h2 class="title text-center">contact us</h2>
	<p class="text text-center directions">ADDRESS: 500 TERRY FRANCOIS STREET SAN FRANSISCO, CA 94158</p>
	<p class="text text-center directions">TEL: 123-456-7890  |  INFO@MYSITE.COM</p>
</div>
<div class="grid-container form-container">
	<form action="#" class="grid-x align-center">
		<div class="medium-5 cell">
			<label for="email" class="text-center">Subscribe For Updates and Promotions </label>
			<input type="text" name="email" id="email" placeholder="Email Address">
			<input type="submit" value="Get Updates" class="button primary">
		</div>
	</form>
</div>