<footer id="footer">
	<div class="grid-container">
		<div class="grid-x">
			<div class="small-12 medium-6 cell copy-wrapper">
				<p class="copy">&copy; 2023 by Annex. Proudly created with xxx</p>
			</div>
			<div class="small-12 medium-6 cell social-wrapper">
				<div class="social align-right">
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-google-plus-g"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
	</div><!-- .grid-container -->
</footer>