<footer id="footer" class="grid-container-fluid full">
	<div class="grid-container">
		<div class="grid-x">
			<div class="contact cell">
				<div class="info">
					<p class="title">Contact Us</p>
					<p>1-800-000-0000</p>
					<p>info@mysite.com</p>
				</div>
				<div class="social">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-pinterest-p"></i></a>
				</div>
			</div>
			<div class="accept cell">
				<p class="title">We Accept</p>
				<ul>
					<li><img src="assets/img/footerVisaIcon.png" alt="visa"></li>
					<li><img src="assets/img/footerPaypalIcon.png" alt="paypal"></li>
					<li><img src="assets/img/footerAmericanExpressIcon.png" alt="american express"></li>
					<li><img src="assets/img/footerMastercardIcon.png" alt="mastercard"></li>
				</ul>
			</div>
			<div class="mailing-list cell">
				<p class="title">Join our mailing list</p>
				<form action="#">
					<input type="email" name="email" id="email" placeholder="Email Address">
					<input type="submit" value="Subscribe Now" class="button">
				</form>
			</div>
		</div>
	</div>
</footer>