<footer class="grid-container-fluid full" id="footer">
	<div class="footer-wrapper">
		<div class="row contact-row" id="contact-us-footer">
			<h2>contact us</h2>
			<div class="small-12 medium-4 columns text">
				<p><span>​​500 Terry Francois St. San Francisco, CA 94158​</span></p>
				<p><span>​Tel: 123-456-7890</span></p>
				<p><span>​info@mysite.com</span></p>
			</div>
			<!-- /.small-12 medium-3 columns text -->
			<div class="small-12 medium-8 columns form">
				<form action="#" class="row">
					<div class="small-12 medium-6 columns">
						<input type="text" name="name" id="name" placeholder="Name">
						<input type="email" name="email" id="email" placeholder="Email">
						<input type="text" name="subject" id="subject" placeholder="Subject">
					</div>
					<div class="small-12 medium-6 columns"><textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea><input type="submit" value="send"></div>
				</form>
			</div><!-- /.small-12 medium-9 columns form -->
		</div><!-- .row -->
		<div class="row map-row">
			<div id="map-outer-wrapper">
				<div id="map-canvas">
					<iframe id="gmap_canvas" src="https://static.parastorage.com/services/santa/1.5492.7/static/external/googleMap.html?language=en&lat=37.77065&long=-122.387301&address=500 Terry Francois Street, 6th Floor. San Francisco, CA 94158&addressInfo=JEFFREY & MITCHELL OFFICE&showZoom=true&showStreetView=true&showMapType=true" frameborder="0" scrolling="no"></iframe>
				</div>
			</div>
		</div><!-- /.map-row -->
	</div><!-- .footer-wrapper -->
	<div id="copy" class="row">
		<p>&copy; 2023 by Jeffrey & Mitchell. Proudly created with xxx.com</p>
		<div class="social-links">
			<a href="#"><i class="fab fa-facebook-f"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-linkedin-in"></i></a>
			<!-- <a href="#"><i class="fab fa-foursquare"></i></a> -->
			<!-- <a href="#"><i class="fab fa-instagram"></i></a> -->
		</div>
	</div>
</footer>