<header class="grid-container-fluid full" id="header">
	<div class="row">
		<div id="logo" class="logo float-left small-12 medium-4 columns">
			<h1>
				<a href="homepage.html" class="clearfix">
					<span class="first">jeffrey</span>
					<img src="assets/img/and-logo.png" id="logo-and">
					<span class="second">mitchell <span class="subtitle hide-for-small-only">Attorneys at Law</span></span>
				<span class="subtitle show-for-small-only">Attorneys at Law</span>
				</a>
			</h1>
			<div class="hide-for-medium mobile-menu-icon" data-hide-for="medium">
			  <button class="menu-icon" type="button" data-open="nav-modal"></button>
			</div>
		</div><!-- .logo -->
		<nav class="float-right hide-for-small-only medium-8 columns">
			{{> main-nav}}
		</nav>
	</div>
</header>