<header class="grid-container fluid full header">
	<div class="large-centered columns clearfix header-top">
		<div class="addresses float-left">
			<p><span>500 Terry Francois St.&nbsp;<br>
			San Francisco, CA 94158</span></p>
		</div>
		<div class="float-right">
			{{> social-links}}
			{{> main-nav}}
		</div>
		<div class="bottom-line-small small-12 columns show-for-small hide-for-medium"></div>
		<h1 class="logo columns small-12 large-centered">
			<a href="#">thyme</a>
		</h1>
	</div>

	<div class="grid-container fluid full nav main-nav">
		{{> main-nav}}
	</div>
</header>