<div class="grid-container full fluid" id="header" data-sticky-container>
	<div class="sticky" data-sticky data-margin-top="0">
		<div class="grid-x align-justify content-wrapper">
			<div class="logo">
				<a href="#"><div class="logo-wrapper">
						<div class="svg-outer">
							<div style="fill-opacity:1;stroke-width:0;stroke:rgba(255, 255, 255, 1);stroke-opacity:1;fill:rgba(255, 255, 255, 1);">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" role="img" style="stroke-width: 0px;" preserveAspectRatio="xMidYMid meet">
									<g>
										<path d="M196,52V4H4v192h192v-48h4v52H0V0h200v52H196z">
										</path>
									</g>
								</svg>
							</div>
						</div><!-- .svg-outer -->
						<div class="logo-name"><h1>skyline.</h1></div>
					</div><!-- .logo-wrapper --></a>
			</div>
			<div class="nav">{{> main-nav }}</div>
		</div>
	</div><!-- .sticky -->
</div><!-- #header -->