<div class="grid-container fluid full hero {{custom_class}} paralaxbg" style="background-image: url({{img_src}});">
	{{#if has_reservations_form}}
	<form class="large-12 large-centered">
		<div class="row collapse">
	<h2 class="form-title columns small-12 large-centered large-12 title-medium"><span>Reservations</span></h2>
			<div class="input-wrapper">
				<input type="text" id="date" placeholder="Date">
			</div>
			<div class="input-wrapper">
				<input type="text" id="time" placeholder="Time">
			</div>
			<div class="input-wrapper">
				<select name="party-size" id="party-size">
					<option value="" disabled selected>Party Size</option>
					<option value="1">1 person</option>
					<option value="2">2 people</option>
					<option value="3">3 people</option>
					<option value="4">4 people</option>
					<option value="5">5 people</option>
					<option value="6">6 people</option>
				</select>
			</div>
			<div class="input-wrapper">
				<input type="submit" value="Book Now" id="submit">
			</div>
		</div>
	</form>
	{{/if}}
</div>