<div class="grid-container fluid full hero {{custom_class}} paralaxbg" style="background-image: url({{img_src}});">
	{{#if has_reservations_form}}
	<form class="large-12 large-centered">
		<div class="row collapse">
	<h2 class="form-title column large-centered large-12 title-medium"><span>Reservations</span></h2>
			<div class="input-wrapper">
				<!-- <input type="text" id="date"> -->
				<select name="data">
					<option value="husker">Husker</option>
					<option value="starbuck">Starbuck</option>
					<option value="hotdog">Hot Dog</option>
					<option value="apollo">Apollo</option>
				</select>
			</div>
			<div class="input-wrapper">
				<!-- <input type="text" id="time"> -->
				<select name="data">
					<option value="husker">Husker</option>
					<option value="starbuck">Starbuck</option>
					<option value="hotdog">Hot Dog</option>
					<option value="apollo">Apollo</option>
				</select>
			</div>
			<div class="input-wrapper">
				<!-- <input type="text" id="party-size"> -->
				<select name="data">
					<option value="husker">Husker</option>
					<option value="starbuck">Starbuck</option>
					<option value="hotdog">Hot Dog</option>
					<option value="apollo">Apollo</option>
				</select>
			</div>
			<div class="input-wrapper">
				<input type="submit" value="Book Now" id="submit">
			</div>
		</div>
	</form>
	{{/if}}
</div>