<div class="grid-container full fluid home-bottom">
	<div class="grid-container">
		<div class="grid-x align-center">
			<div class="small-12 medium-6 cell about">
				<h2 class="text-center">about skyline</h2>
				<p class="text-center">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>


			</div><!-- .about -->
			<div class="subscribe-box small-12 medium-8 cell">
				<h3 class="subscribe-title text-center"><a href="#">Subscribe to be the first to know about our launch</a></h3>
				<form action="#" class="subscribe-form grid-x">
					<div class="small-12 medium-8 cell">
						<input type="text" name="email" id="email" placeholder="Email Address">
					</div>
					<div class="small-12 medium-4 cell">
						<input type="submit" class="button" value="Subscribe Now">
					</div>
				</form>
			</div><!-- .subscribe-box -->
			<div class="social-box small-12 medium-8 cell">
				<div class="social-links flex-container align-center">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-google-plus-g"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div><!-- .social-box -->
		</div><!-- .grid-x -->
	</div><!-- .grid-container -->
</div><!-- .grid-container.full -->