<div id="{{ id }}" class="slide grid-container full fluid {{#if has-parallax}}paralaxbg{{/if}} {{custom-class}}" style="background-image: url({{img_src}})">
	<img src="{{img_src}}" alt="slide img" class="invisible">
	<div class="grid-x">
		<div class="boxes-row">
			{{#if top}}
				{{> top}}
			{{/if}}

			{{#if about}}
				{{> about}}
			{{/if}}

			{{#if community}}
				{{> community}}
			{{/if}}

			{{#if spaces}}
				{{> spaces}}
			{{/if}}

			{{#if membership}}
				{{> membership}}
			{{/if}}

			{{#if contactus}}
				{{> contact-us}}
			{{/if}}

			{{#if map}}
				{{> map}}
			{{/if}}

		</div><!-- .boxes-row -->
	</div><!-- .grid-x -->

	{{#if has-gray-layer}}
		<div class="gray-layer"></div>
	{{/if}}
</div><!-- .slide -->