<div class="grid-x space-box">
	<div class="medium-6 small-12 cell image-wrapper">
		<a href="#"><img src="{{image}}" alt="image"></a>
	</div>
	<div class="medium-6 small-12 cell details flex-container align-center align-middle large-flex-child-auto">
		<div class="content">
			<h5 class="title text-center">{{title}}</h5>
			<p class="rate text-center"><span>1 hr</span> <span class="sep">|</span> <span>${{rate}}</span></p>
			<a href="#" class="button primary">Book Now</a>
		</div>
	</div>
</div>