<div class="nav-container">
  <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="main-menu"></button>
  </div>

  <div class="nav grid-container" id="main-menu">
    <ul class="menu vertical medium-horizontal">
      <li><a href="#">home</a></li>
      <li><a href="#">our vision</a></li>
      <li><a href="#">menu</a></li>
      <li><a href="#">order online</a></li>
      <li><a href="#">blog</a></li>
      <li><a href="#">contact us</a></li>
    </ul>
  </div>
</div>