<div class="nav-container">
  <div class="title-bar hide-for-medium" data-hide-for="medium">
    <button class="menu-icon" type="button" data-open="nav-modal"></button>
  </div>

  <div class="nav" id="main-menu">
    <ul class="menu medium-horizontal">
      <li {{#ifpage 'homepage'}} class="active"{{/ifpage}}><a href="homepage.html">home</a></li>
      <li {{#ifpage 'firm-page'}} class="active"{{/ifpage}}><a href="firm-page.html">firm</a></li>
      <li {{#ifpage 'menu-page'}} class="active"{{/ifpage}}><a href="menu-page.html">contact us</a></li>
      <li {{#ifpage 'order-online'}} class="active"{{/ifpage}}><a href="order-online.html">book online</a></li>
    </ul>
  </div>

  <div class="reveal" id="nav-modal" data-reveal>
    <ul class="menu vertical">
      <li {{#ifpage 'homepage'}} class="active"{{/ifpage}}><a href="homepage.html">home</a></li>
      <li {{#ifpage 'firm-page'}} class="active"{{/ifpage}}><a href="firm-page.html">firm</a></li>
      <li {{#ifpage 'menu-page'}} class="active"{{/ifpage}}><a href="menu-page.html">contact us</a></li>
      <li {{#ifpage 'order-online'}} class="active"{{/ifpage}}><a href="order-online.html">book online</a></li>
    </ul>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>