.membership-slide {
	.invisible{ display: none; }
	.boxes-row {
		@extend .flex-child-auto;
	}
	.slide-title-wrapper {
		margin-bottom: 50px;
		// border: 2px solid red;
		@include breakpoint(medium) {
			margin-bottom: 75px;
			margin-top: 130px;
		}
	}// .slide-title-wrapper
	.membership-items-wrapper {
		.item {
			@include flex();
			@include flex-align(null, middle);
			img {
				@include xy-cell(4);
			}
			p {
				@include xy-cell(8);
				font-family: 'Arial, Helvetica, sans-serif';
				font-size: 10px;
			}
		}
	}
}