.spaces-slide {
	.invisible{ display: none; }
	.boxes-row {
		@extend .flex-child-auto;
	}
	img {
		width: auto;
		height: auto;
		@include breakpoint(medium) {
			width: 100%;
			height: 100%;
		}
	}
	background-color: $primary-color;
	.wrapper {
		margin-bottom: 50px;
		@include breakpoint(medium) {
			margin-bottom: 75px;
		}
		.title {
			margin: 35px 0 15px 0;
			@include playfair-font;
			font-weight: 700;
			letter-spacing: 0.06em;
			color: $white;
			text-transform: uppercase;
			font-size: 21px;
			@include breakpoint(medium) {
				font-size: 46px;
				margin: 35px 0;
			}
		}
		p {
			color: $white;
			@include avenirlt-font;
			font-weight: 300;
			font-size: 14px;
			width: 70%;
			margin: 0 auto;
			line-height: 1.6em;
			@include breakpoint(medium) {
				font-size: 15px;
				@include xy-cell(12);
				font-weight: 400;
				line-height: normal;
			}
		}
	}// .wrapper
	.image-box {
		position: relative;
		a {
			@include breakpoint(small only) {
				img {
					height: 100%;
				}
			}
		}
		&:hover {
			.hover-box {
				visibility: visible;
			}
		}
		@include breakpoint(medium) {
			max-height: 371px;
		}
		@include breakpoint(xlarge) {
			max-height: 516px;
		}
		.hover-box {
			visibility: hidden;
			@include flex-align(null, bottom);
			padding: 0 20px 20px 20px;
			background-color: rgba(33,33,33,0.6);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			.icon{
				width: auto;
				max-height: 20px;
			}
			.middle-text {
				h2 {
					text-transform: uppercase;
					@include playfair-font;
					font-weight: 700;
					letter-spacing: 0.06em;
					font-size: 35px;
					color: $white;
				}
			}
			.love-box {
			.counter {
				position: relative;
				bottom: 2px;
				left: 8px;
			}
			}
			span {
				color: $white;
				@include avenirlt-font;
			}
		}// .hover-box
	}// .image-box
}// .spaces-slide