.spaces-slide {
	.invisible{ display: none; }
	@include flex;
	@include flex-align(center, null);
	background-color: $primary-color;
	.wrapper {
		margin-bottom: 50px;
		@include breakpoint(medium) {
			margin-bottom: 75px;
		}
		.title {
			margin: 35px 0 15px 0;
			@include playfair-font;
			font-weight: 700;
			letter-spacing: 0.06em;
			color: $white;
			text-transform: uppercase;
			font-size: 21px;
			@include breakpoint(medium) {
				font-size: 46px;
				margin: 35px 0;
			}
		}
		p {
			color: $white;
			@include avenirlt-font;
			font-weight: 300;
			font-size: 14px;
			width: 70%;
			margin: 0 auto;
			@include breakpoint(medium) {
				font-size: 15px;
				@include xy-cell(12);
				font-weight: 400;
			}
		}
	}
}