.firm-page {
	.hero.full {
		max-height: 271px;
		position: relative;
		background-size: cover;
		z-index: 1;
	}
	.hero.row {
		max-height: 271px;
	}
	.hero-bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 2;
		@include breakpoint(small only) {
			z-index: 0;
		}
	}
	.boxes-row {
		bottom: 0;
		top: 180px;
		z-index: 3;
		margin-top: 0;
		.float-box {
			min-height: 225px;
			max-height: 225px;
		}
		@include breakpoint(small only) {
			margin-top: 150px;
			.float-box {
				position: relative;
				z-index: 5;
			}
		}
	}

	.text-content {
		margin-top: 132px;
		margin-bottom: 50px;
		@include breakpoint(medium) {
			margin-top: 200px;
		}
	}
}// .firm-page