.home-content {
	.img-container {
		margin-bottom: 45px;

		&.first {
			margin-top: 125px;
			@include breakpoint(small only) {
				margin-top: 0;
			}
		}
		&.mobile {
			margin-top: 25px;
		}
	}

	.cell:nth-child(2) {
		& > .text-content {
			margin-top: 45px;
		}
	}
}
.order-online {
	position: relative;
	img {
		display: block;
		@include breakpoint(medium) {
			max-width: 930px;
			margin-left: 35px;
		}
	}
	.white-box {
		position: absolute;
		top: 48.5%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		width: 390px;
		min-height: 139px;
		text-align: center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}
}//.order-online
.white-box {
	.content {
		h6 {
			font-family: 'Nunito', sans-serif;
			font-size: 11px;
			letter-spacing: 0.15em;
			line-height: 1.4em;

			@include breakpoint(small only) {
				font-size: 10px;
			}
		}
		a {
			font-family: 'Libre Baskerville', serif;
			span {
				font-size: 27px;
				line-height: 1.4em;
				font-weight: 400;
				font-family: inherit;
				display: block;

				@include breakpoint(small only) {
					font-size: 22px;
				}
			}
			&:hover {
				span {
					color: rgb(204, 204, 204);
				}
			}
		}
	}
}// .white-box

.testimonial-text {
	text-align: center;
	margin-top: 55px;
	margin-bottom: 55px;
	.title-small {
		span {
			text-transform: none;
		}
	}
	@include breakpoint(small only) {
		.title-medium {
			span {
				font-size: 27px;
			}
		}
	}
}
.reservations-home {
	position: relative;
	min-height: 476px;
	z-index: 1;
	img {
		height: 476px;
		width: auto;
		display: block;
	}
	.title-medium {
		text-align: center;
		line-height: 45px;
		margin: 1.556em 0;
		span {
			color: #fff;
		}
	}
	form {
		position: absolute;
		z-index: 2;
		top: 48.5%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 750px;

		input {
			display: block;
			width: 167px;
			height: 42px;
			cursor: pointer;
			&[type="submit"] {
				background-color: rgb(188, 155, 93);
				border: 0;

				&:hover {
					background-color: rgb(160, 132, 79);
				}
			}
		}
		select {
			cursor: pointer;
			width: 167px;
			height: 42px;
		}
	}
	@include breakpoint(medium) {
		max-height: 478px;
		overflow-y: hidden;
		.input-wrapper {
			padding-right: 18px;
		}
	}
}
.mobile-content {
	.order-online {
		margin-top: 25px;
	}
	.testimonial-text {
		margin-bottom: 0;
	}
}