.homepage {
	.text-content {
		padding: 0 18px;
		@include breakpoint(medium) {
			margin-bottom: 70px;
		}
		h2 {
			margin-top: 120px;
			@include breakpoint(medium) {
				margin-top: 110px;
			}
		}
	}
}